body {
  font-family: Arial, sans-serif;
}

#container {
  width: 500px;
  margin: 15px auto;
}

h1 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li {
  padding-bottom: 6px;
}

#new_todo {
  padding: 8px;
  border-radius: 3px;
  width: 490px;
  margin: 0 auto 15px;
  font-size: 16px;
}

.delete_todo {
  float: right;
  display: inline-block;
  color: #ccc;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

#todo_template {
  display: none;
}

input#submit_btn {
  position: relative;
  display: inline-block;
  width: 245px;
  padding: 7px;
  border-radius: 5px;
  margin: 10px auto 20px;
  color: white;
  box-shadow: 0 3px rgb(0, 51, 255);
  background: rgb(0, 114, 254);
}

input#submit_btn:hover {
  opacity: 0.8;
}

input#reset_btn {
  float: right;
  position: relative;
  display: inline-block;
  width: 240px;
  padding: 7px;
  border-radius: 5px;
  margin: 10px auto 20px;
  color: white;
  box-shadow: 0 3px rgb(0, 51, 255);
  background: rgb(0, 114, 254);
}

input#reset_btn:hover {
  opacity: 0.8;
}